<!--底部开始-->
<div class="bottom">
    <div class="container bottom_center" >
        <ul class="bottom_ul">

            <li class="bottom_li">
                <a href="#" class="icon">
                    <span>Facebook</span>
                </a>
            </li>
            <li class="bottom_li">
                <a href="#" class="icon">
                    <span>Twitter</span>
                </a>
            </li>
            <li class="bottom_li">
                <a href="#" class="icon">
                    <span>Google</span>
                </a>
            </li>

        </ul>
        <div id="bottom_banquan">Copyright © 2017 School Of Cherries</div>
    </div>
</div>
<!--底部结束-->
</body>
</html>