<footer>
    <div class="col-md-12 copyright">
        <div class="col-md-4">
            <div id="footer-info">Copyright © 2017 School Of Cherries</div>
        </div>
        <div class="col-md-8 " id="icons">
            <ul >

                <li >
                    <a href="#" class="icon">
                        <span class="glyphicon glyphicon-education">Facebook</span>
                    </a>
                </li>
                <li >
                    <a href="#" class="icon">
                        <span class="glyphicon glyphicon-sunglasses">Twitter</span>
                    </a>
                </li>
                <li >
                    <a href="#" class="icon">
                        <span class="glyphicon glyphicon-piggy-bank">Google</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-md-12 baibai"></div>
</footer>
</section>
</body>
</html>