{% include header.html %}
<!--main内容部分-->
<div class="main" style="height:100%">
    <!--广告展示部分开始-->
    <div class="main_ad">
        <div class="container">

            <div class="main_logo">
                <img src="/images/Cherry-course-1.jpg" style="width: 100%" alt="">
            </div>

            <div class="main_content">
                <div class="main_content_title">
                    <h1 class="entry-title">How To Cook Cherries</h1>
                </div>

                <div class="main_content_title_2">

                </div>

                <div class="main_content_FREE">
                    <div class="#">FREE</div>
                </div>

                <div class="main_content_btn">
                    <a style="color: #FFF !important; background: transparent; font-size: 16px;" class="main_content-button" href="https://demo3.academyofmine.com/course/how-to-cook-cherries/start-course">Enroll in Course</a>
                </div>




            </div>
        </div>

    </div>
    <!--广告展示部分结束-->
    <!--详细内容开始-->
    <div class="list_contents">
        <div class="container list_contents_center">
            <div class="list_contents_left">
                <div class="list_contents_images">
                    <span class="list_contents_images_image"><img src="{{page.image}}" alt=""></span>
                </div>

            </div>

            <div class="list_contents_right">
                <h1>{{ page.title }}</h1>
                <p>{{content}}</p>
            </div>
        </div>
    </div>
    <!--详细内容结束-->
    <!--详细信息列表部分开始-->

    <!--详细信息列表部分结束-->
    <!--详细信息内容介绍开始-->

    <!--详细信息内容介绍结束-->
    <!--Get Start Now 开始-->
    <div class="getstartnow">
        <div class="container getstartnow_center">
            <div class="get_center_li">

                <div class="get_text_inner">
                    <p>Get Started Now</p>
                    <div class="fenge30"></div>
                    <a style="color: #FFF !important; background: transparent; font-size: 21;" class="get_a" href="#">Enroll in Course</a>
                </div>

            </div>

        </div>
    </div>
    <!--Get Start Now 结束-->

</div>

{% include footer.html %}